<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1061015414795-a91v72f6kat69dp2o12rb51d16iv2j1u</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>1061015414795-a91v72f6kat69dp2o12rb51d16iv2j1u.apps.googleusercontent.com</string>
</dict>
</plist>
